.card-grid wa-card {
  display: flex;
  flex-direction: column;
}

.card-grid wa-card h3 {
  margin-block-start: 0;
}

.card-grid wa-card p {
  text-align: left;
  margin-block-end: auto;
}

.users-card {
  display: flex;
  flex-direction: column;
}
